@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #ffecd1;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.menu-toggle {
  display: none;
}

.logo-img {
  width: 50px;
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav li {
  font-family: 'Raleway', sans-serif;
}

nav a {
  text-decoration: none;
  cursor: pointer;
}

main {
  display: flex;
  gap: 30px;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  width: 80vw;
}

/* .order-btn {
  position: absolute;
  top: 60%;
  left: 21%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.order-btn button {
  padding: 20px 40px;
} */

@media only screen and (max-width: 768px) {
  body {
    background-color: rgb(120, 234, 224);
  }
}

/* @media only screen and (max-width: 392px) {
  .responsive-nav {
    display: inline;
  }
} */

@media only screen and (max-width: 393px) {
  body {
    background-color: rgb(238, 243, 164);
  }

  .x-menu-icon {
    display: none;
    width: 50px;
  }

  .responsive-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  }

  .responsive-nav a {
    font-size: 0.6em;
  }

  .responsive-nav li {
    line-height: 10px;
  }

  .responsive-nav {
    display: none;
  }

  .menu-toggle {
    display: inline;
    background-color: transparent;
    border: none;
  }

  .burger-menu-icon {
    display: inline;
    width: 50px;
  }

  .logo-img {
    display: none;
  }

  nav ul {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
  }
}
