@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 > span {
  color: rgb(12, 173, 138);
}

.task {
  width: 25%;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.3);
}

/* Task 1:  */
.display-result {
  font-size: 3em;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn {
  width: 80px;
  border: none;
  background-color: rgb(12, 173, 138);
  border-radius: 15px;
  padding: 10px 30px;
  color: white;
  font-size: 0.6em;
}

.btn:hover {
  background-color: rgb(112, 224, 200);
}

/* Task 2: */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 20px;
  box-sizing: border-box;
}

form label {
  margin-right: 10px;
}

form input {
  width: 200px;
  padding: 5px;
}

.submit-btn {
  border: none;
  background-color: rgb(12, 173, 138);
  border-radius: 15px;
  padding: 10px 30px;
  color: white;
  font-size: 0.6em;
}

.submit-btn:hover {
  background-color: rgb(112, 224, 200);
}

/* Bonus 1: */
.flowers {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 50px;
}







@media only screen and (max-width: 1130px) and (min-width: 768px) {
  .task {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .task {
    width: 90%;
  }
}
